name: Publish package to GitHub Packages

on:
  push:
    branches:
      - 'main'

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - uses: pnpm/action-setup@v4.1.0
        with:
          version: 10.5.2
          run_install: false
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      # - run: pnpm adduser --registry https://npm.pkg.github.com
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # - run: pnpm login --registry https://npm.pkg.github.com
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: echo "always-auth=true" >> ~/.npmrc
      - run: pnpm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
